html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  ul[class] {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
  }

body{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;

}

.header{
    background-image: url(../images/headerbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

h1{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 130px;
    text-align: center;
    margin-bottom: auto;
}

a{
    color: #fff;
    text-decoration: none;
}

.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0 49px;
    align-items: center;
}

.menu{
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 15px;
    padding: 24px 0;
}

.menu__list{
    display: flex;
    justify-content: space-evenly;
}

.header__phone{
  display: flex;
  align-items: center;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    font-weight: 700;
}

.header__phone-number{
    font-weight: 400;
    margin-left: 19px;
    padding: 12px 30px;
    display: block;
    background-color: #886239;
    border-radius: 22px;
}

.header__content{
    margin-right: auto;
    margin-bottom: 20px;
}

p.header__dscr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1F1E1E;
    margin-bottom: 20px;
}

.header__btn{
  display: block;
  width: 60%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
padding: 20px 0;
background-color: #886239;
border-radius: 30px;
}

.header__arrow-img{
  margin: 0 auto 15px;
}

.direction{
  margin-bottom: 100px;
}

.direction__items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__text{
  font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #1F1E1E;
padding: 12px 0 19px 19px;
border: 1px solid #D9D9DE;
border-top: none;
}

.travel-info{
  background-image: url(../images/travel-bg.png);
  padding: 32px 0 50px;
  margin-bottom: 100px;
}

.title{
  font-weight: 500;
font-size: 36px;
line-height: 130%;
text-align: center;
color: #1F1E1E;
}

.travel-info__title{
color: #FFFFFF;
margin-bottom: 52px;
}

.travel-info__items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 67px 55px;
}

.travel-info__img{
  margin-bottom: 15px;
}

.travel-info__text{
  font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
}

.offers{
  margin-bottom: 100px;
}

.offers__title{
  margin-bottom: 40px;
}

.offers__items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  padding-bottom: 80px;
  border-bottom: 1px solid #D9D9DE;
}

.offers__item-title{
  font-weight: 500;
font-size: 18px;
line-height: 130%;
margin-bottom: 15px;
}

.offers__link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 23px 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 256px;
}

.offers__link:nth-child(3),
.offers__link:nth-child(6){
  grid-column: span 2;
  grid-row: span 2;
}

.offers__price{
  font-weight: 700;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
margin-top: auto;
}

.offers__text{
  font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
margin-bottom: 15px;
}

.map{
  margin-bottom: 100px;
}

.map__title{
  margin-bottom: 45px;
}

.about{
  margin-bottom: 100px;
}

.about__inner{
  display: grid;
  grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about__title{
  margin-bottom: 25px;
  text-align: left;
}

.about__text{
  margin-bottom: 35px;
}

.about__link{
  font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;
color: #C4C4C4;
}

.about__popup{
  background-image: url('../images/popup.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    align-items: center;
    justify-content: center;
}

.photogallery{
  padding: 50px 0 105px;
  background-color: #886239;
  margin-bottom: 100px;
}

.photogallery__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.photogallery__link{
  margin-right: 55px;
  font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;
}

.photogallery__title{
  color: #fff;
  margin-right: auto;
}

.photogallery__slider{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.premium{
  margin-bottom: 100px;
  background-color: #fff;
}

.premium__content{
  display: grid;
  grid-template-columns: 535px 541px;
  grid-gap: 42px;
  padding-bottom: 65px;
  border-bottom: 1px solid #D9D9DE;
  margin-bottom: 44px;
}

.premium__title{
  margin-bottom: 77px;
}

.premium__content-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.premium__span{
  font-weight: 700;
}

.premium__items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 70px;
  
}

.premium__item{
  text-align: center;
  font-weight: 700;
font-size: 58px;
line-height: 60px;
color: #886239;
}

.premium__item-text{
  font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #1F1E1E;
}

.booking{
  padding: 75px 0;
  background: #EAEAEA;
}

.booking__title{
  font-weight: 700;
  margin-bottom: 43px;
}

.booking__form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 832px;
  margin: 0 auto;
}

.booking__input + .booking__input{
  margin-left: 32px;
}

.booking__input{
  width: 256px;
  height: 44px;
  border: 1px solid #D9D9DE;
  background: #FFFFFF;
  padding: 11px 14px 12px;
  font-size: 16px;
  margin-bottom: 28px;
}

.booking__area{
  width: 100%;
  margin-bottom: 67px;
  padding: 14px;
  border: 1px solid #D9D9DE;
  resize: none;
}

.booking__btn{
  background: #886239;
border-radius: 30px;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
padding: 19px 65px 20px;
border: none;
cursor: pointer;
}

.booking__label{
  font-weight: 400;
font-size: 16px;
line-height: 130%;
text-decoration: underline;
color: #1F1E1E;
}

.footer{
  padding: 80px 0;
  background: #1F1E1E;
}

.footer__logo{
  margin: 0 auto 70px;
}

.footer__adress{
  display: grid;
  grid-template-columns: 225px 164px 209px;
  grid-gap: 120px;
  justify-content: center;
}

.footer__title{
  font-weight: 500;
font-size: 14px;
line-height: 130%;
color: #FFFFFF;
margin-bottom: 7px;
}

.footer__box-text{
  font-weight: 400;
font-size: 14px;
line-height: 218.2x;
color: #FFFFFF;
opacity: 0.8;
}

.footer__link{
  text-decoration: underline;
  font-size: 14px;
line-height: 218.2x;
text-decoration-line: underline;
color: #FFFFFF;
}

.footer__city-link{
  font-weight: 400;
font-size: 14px;
line-height: 18.2px;
color: #FFFFFF;
opacity: 0.8;
}

.footer__contacts-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: #FFFFFF;
  opacity: 0.8;
  display: inline-block;
}

